* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: linear-gradient(135deg, #444645, #000000);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.container {
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 15px 25px rgba(248, 215, 215, 0.2);
  text-align: center;
  max-width: 400px;
  width: 100%;
}

h1 {
  color: #000000;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
}

button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: #000000;
  color: white;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #616264;
}

#qr-box {
  margin-top: 20px;
}

#qr-image {
  width: 200px;
  height: 200px;
}

.hide {
  display: none;
}
